.audio-player {
    margin: 10px 40px 8px 0;
    width: 100%;
    min-width: 100px;
}
.controls, .playback-button {
    display: flex;
    align-items: center;
}
.playback-button {
    -webkit-transition: .2s;
    transition: .2s;
    width: 40px;
    height: 40px;
    border: 2px solid #00bc8c;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}
.controls, .playback-button {
    display: flex;
    align-items: center;
}
.playback-button svg {
    -webkit-transition: .2s;
    transition: .2s;
    width: 18px;
    height: 18px;
    color: #54b1c1;
}
.timebar {
    position: relative;
}
.timebar {
    flex: 1 1;
    margin-top: 12px;
}
.timebar-bar {
    height: 4px;
    /* background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 0%, rgb(115, 115, 115) 0%, rgb(115, 115, 115) 100%); */
}
.timebar-circle {
    background-color: grey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%,calc(-50% + 2px));
    transform: translate(-50%,calc(-50% + 2px));
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    cursor: pointer;
}
/* .timebar-circle {
    left: 15%;
} */
.timebar-time-info {
    margin-top: 8px;
    font-size: 11px;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
}